{% if site.gh_comment_repo and page.gh_comment_id %}

<div id="gh-comments">
  <br/><br/>
  <h3>COMMENTS:</h3>
  <a href="https://github.com/{{ site.gh_comment_repo }}/issues/{{ page.gh_comment_id }}#new_comment_field">Post a comment via GitHub</a>
  <div id="gh-comment-list"></div>
</div>

<script src="{{ site.baseurl }}/js/github-comments.js"></script>
<script>fetchComments('{{ site.gh_comment_repo }}', '{{ page.gh_comment_id }}');</script>

<noscript>Please enable JavaScript to view comments.</noscript>

{% endif %}
